body{
  margin: 0 20% 0 20%;
  font-size: 30px;
}
header{
  height: 250px;
}
nav{
  float: left;
  width: 25%;
  height: 900px;
  background-color:blanchedalmond;
  justify-content: space-between;
}
nav ul li{
  background-color:blanchedalmond;
  margin: 60px;
}
main{
  float:  left;
  width: 75%;
}
main ul li{
  list-style:disc;
  margin-left: 100px;
}
section{
  width: 100%;
  height: 300px;
  background-color: black;
}
section img.tresImagens{
  width: 32%;
  height: 300px;
}
footer{
  clear: both;
  text-align: center;
}