body{
  background-color: black;
  margin: 0;
}
.container{
  background-color: red;
  height: 100vh;
  width: 100vw;
  display: grid;
  grid-template-areas: 
  "header header header header header"
  "nav main main main main"
  "nav main main main main"
  "nav main main main main"
  "footer footer footer footer footer";
}

header{
  grid-area: header;
  background-color: blueviolet;
}

nav{
  grid-area: nav;
  background-color: blue;
}

main{
  grid-area: main;
  background-color: aqua;
}

footer{
  grid-area: footer;
  background-color: gray;
}