body{
  background-color: gray;
}
#um{
  background-color: yellow;
  display: flex;
  justify-content: right;
  height: 50px;
  
}
#um div{
  width: 50px;
  height: 50px;
  background-color: black;
  color: white;
}