body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#fundo-vermelho{
    background-color: rgb(133, 8, 8);
    width: 60%;
    height: 100vh;
    margin: 0 20%;
    padding: 5px;
}
.fundo-branco{
    background-color: rgb(255, 254, 254);
}
.fundo-nav{
    background-color: rgb(247, 207, 247);
}
#div-header{
    width:100%;
    height:20vh;
    margin:auto;
}
#div-nav{
    width:25%;
    height: 72vh;
    margin-top: 5px;
    float: left;    
}
#div-main{
    float: right;
    width:74%;
    height: 72vh;
    margin-top: 5px;
    margin-bottom: 5px;
}
#div-footer{
    width: 100%;
    height: 6vh;
    clear: both;
}
#nav-geral li a{
    text-decoration: none;
    color: black;
    display: block;
    margin-top:15%;
    text-align: center;
    font-size: 12pt;
    font-weight:bolder;
}
#footer-p{
    text-align: center;
    display: block;
    padding: 12px;
    font-weight: 600;
}
footer span{
    color:red
}

/*Daqui pra baixo são as estilizações de cada pagina*/
/*Home*/
#img1-home{
    float: left;
    margin: 1em;
}

#main-home{
    text-align: justify;
    font-size: 10pt;
    margin: 1rem;
    font-weight: 600;
    line-height: 1.1;
}
#letra1-home{
    margin-left: 50px;
}
#lista-home ul li{
    list-style: disc;
    text-align: justify;
    margin-left: 2em;

}
#lista-home{
    width: 350px;
    float: left;
}

/*Noticias*/
.noticia-img-p img{
    width: 75px;
    height: 50px;
    float: left;
    border: 2px solid black;
    margin-top: 10px;
}
.noticia-img-p{
    text-align: justify;
    font-size: 8pt;
    display: flex;
    align-items: center;
    justify-content:left;
    border-top: 1px solid rgb(145, 144, 144);
    
}
#noticia-home{
    width: 95%;
    margin: auto;
}

/*Montagem e Manutenção*/

main img{
    width: 130x;
    height: 130px;
    margin: 9px 17px;
}
#main-suporte{
    height: 95%;
    width: 95%;
    margin: auto;
}
#lista-suporte{
    list-style: disc;
    margin: 20px  20px 20px 100px;
    font-weight: 800;
    line-height: 1.2;
    font-size: 11pt;
}

/*Suporte de Adm de Redes*/
main img{
    width: 130x;
    height: 130px;
    margin: 9px 20px;
}
#suporte-redes{
    height: 95%;
    width: 95%;
    margin: auto;
}
#lista-redes{
    list-style: disc;
    margin: 30px  20px 30px 60px;
    font-weight: 600;
    line-height: 1.2;
    font-size: 10pt;
}

/*Desenvolvimento de Sistemas*/
#main-5 img{
    width: 150px;
    height: 140px;
    margin-left: 60px;
    margin-right: 60px;
}
#main-5 ul{
    list-style: disc;
    margin: 20px 0px 20px 100px;
    font-weight: 700;
    line-height: 1.3;
}

/*Desenvolvimento de Websites*/
#main-6 img{
    width: 120px;
    height: 120px;
    margin-left: 50px;
}
#main-6 ul{
    list-style: disc;
    margin: 40px 0px 40px 60px;
    font-weight: 700;
    line-height: 1.3;
    font-size: 10pt;
}

/*Contato*/

#main-7{
    width: 95%;
    height: 95%;
    margin-left: 10px;
}
#main-7 h1{
    text-align: center;
    margin-top: 10px;
    border-bottom: 2px solid black;
    font-size: 19pt;
    font-weight: bolder;
    padding-bottom: 5px;
}
#main-7 p{
    text-align: center;
    margin-top: 20px;
    font-size: 10pt;
    margin-bottom: 20px;
}
fieldset{
    border: 1px solid rgb(133, 8, 8);
}
fieldset legend, label{
    margin: 15px 15px 10px 15px;
}
fieldset legend{
    color: rgb(133, 8, 8);
    font-size: 12pt;
    letter-spacing: -1px;
    font-weight: 600;
}
legend{
    margin-left: 10px;
}

.fundo{
    background-color: rgba(210, 210, 210, 0.457);
    border-right: none;
    border-bottom: none;
    border-top: 2px inset rgb(228, 228, 228);
    border-left: 2px inset rgb(228, 228, 228);
}
#dados-solicitaçao{
    margin-top: 20px;
    font-size: 10pt;
    margin-bottom: 20px;   
}
#descricao{
    padding: 28px;
    padding-right: 300px;
}
.geral{
    margin-left: 20px;
    margin-bottom: 10px;
}
#assunto{
    padding-right: 100px;
}
